<?xml version="1.0"?>
<!--
/**
 * Zacatrus Events Dependency Injection Configuration
 *
 * @category    Zacatrus
 * @package     Zaca_Events
 * @author      Zacatrus
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Zaca\Events\Api\MeetRepositoryInterface" type="Zaca\Events\Model\MeetRepository"/>
    <preference for="Zaca\Events\Api\Data\MeetInterface" type="Zaca\Events\Model\Meet"/>
    <preference for="Zaca\Events\Api\RegistrationRepositoryInterface" type="Zaca\Events\Model\RegistrationRepository"/>
    <preference for="Zaca\Events\Api\Data\RegistrationInterface" type="Zaca\Events\Model\Registration"/>
    <preference for="Zaca\Events\Api\LeagueRepositoryInterface" type="Zaca\Events\Model\LeagueRepository"/>
    <preference for="Zaca\Events\Api\Data\LeagueInterface" type="Zaca\Events\Model\League"/>
    <preference for="Zaca\Events\Api\EventTypeRepositoryInterface" type="Zaca\Events\Model\EventTypeRepository"/>
    <preference for="Zaca\Events\Api\ThemeRepositoryInterface" type="Zaca\Events\Model\ThemeRepository"/>
    <preference for="Zaca\Events\Api\Data\ThemeInterface" type="Zaca\Events\Model\Theme"/>
    
    <!-- Grid Collections -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="zacatrus_events_league_listing_data_source" xsi:type="string">Zaca\Events\Model\ResourceModel\League\Grid\Collection</item>
                <item name="zacatrus_events_registration_listing_data_source" xsi:type="string">Zaca\Events\Model\ResourceModel\Registration\Grid\Collection</item>
                <item name="zacatrus_events_theme_listing_data_source" xsi:type="string">Zaca\Events\Model\ResourceModel\Theme\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    
    <virtualType name="zacatrus_events_league_listing_data_source" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResultReporting" shared="false">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Zaca\Events\Model\ResourceModel\League\Grid\Collection</argument>
        </arguments>
    </virtualType>
    
    <virtualType name="zacatrus_events_registration_listing_data_source" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResultReporting" shared="false">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Zaca\Events\Model\ResourceModel\Registration\Grid\Collection</argument>
        </arguments>
    </virtualType>
    
    <virtualType name="zacatrus_events_theme_listing_data_source" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResultReporting" shared="false">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Zaca\Events\Model\ResourceModel\Theme\Grid\Collection</argument>
        </arguments>
    </virtualType>
    
    <!-- Console Commands -->
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="events_send_reminders" xsi:type="object">Zaca\Events\Console\Command\SendRemindersCommand</item>
            </argument>
        </arguments>
    </type>
    
    <!-- Router Plugin for Dynamic Route Path -->
    <type name="Magento\Framework\App\Router\Base">
        <plugin name="zaca_events_router" type="Zaca\Events\Plugin\Router\Base" sortOrder="10"/>
    </type>
</config>

