<?xml version="1.0"?>
<!--
/**
 * Zacatrus Events Module Configuration
 *
 * @category    Zacatrus
 * @package     Zaca_Events
 * @author      Zacatrus
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Zaca_Events" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Customer"/>
            <module name="Magento_Store"/>
        </sequence>
    </module>
</config>

