<?xml version="1.0"?>
<!--
/**
 * Zacatrus Events Admin Routes Configuration
 *
 * @category    Zacatrus
 * @package     Zacatrus_Events
 * @author      Zacatrus
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="zacatrus_events" frontName="zacatrus_events">
            <module name="Zacatrus_Events"/>
        </route>
    </router>
</config>

