<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="zaca" translate="label" sortOrder="10">
            <label>Zacatrus</label>
        </tab>
        <section id="zaca_events" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Events</label>
            <tab>zaca</tab>
            <resource>Zaca_Events::config</resource>

            <group id="general" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Events Module</label>
                    <comment>Enable or disable the Events module functionality</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="route_path" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Events Route Path</label>
                    <comment>URL path for events pages (e.g., 'events', 'eventos', 'meetings'). Default: 'events'. Only alphanumeric characters, hyphens, and underscores are allowed.</comment>
                    <validate>validate-alphanum-with-dashes</validate>
                </field>
                <field id="slots_display_mode" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Slots Display Mode</label>
                    <comment>Select how available slots are displayed on event cards and detail pages.</comment>
                    <source_model>Zaca\Events\Model\Config\Source\SlotsDisplayMode</source_model>
                </field>
            </group>
        </section>
    </system>
</config>

